<div class="card">
    <div class="container card">
        <form>

           <div class="row">
            <div class="col">
                <div class="mb-3 row has-validation">
                    <label class="col-sm-6 col-form-label">Jina la chombo</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" formControlName="chombo" required>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="mb-3 row has-validation">
                    <label class="col-sm-6 col-form-label">Aina ya chombo</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" formControlName="aina" required>
                    </div>
                  </div>
            </div>
           </div>

           <div class="row">
                <div class="col">
                    <div class="mb-3 row has-validation">
                        <label class="col-sm-6 col-form-label">Urefu wa chombo</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" formControlName="urefu" required>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3 row has-validation">
                        <label class="col-sm-6 col-form-label">Idadi ya wavuvi</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" formControlName="idadi" required>
                        </div>
                      </div>
                </div>
           </div>
              <div class="mb-3 row has-validation">
                <label class="col-sm-6 col-form-label">Namba ya uwandikishaji</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="no" required>
                </div>
              </div>

              

              <div class="mb-3 row has-validation">
                <label class="col-sm-6 col-form-label">Njia ya uwendeshaji</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="njia" required>
                </div>
              </div>

             <div class="row">
                <div class="col">
                    <div class="mb-3 row has-validation">
                        <label class="col-sm-6 col-form-label">Tarehe</label>
                        <div class="col-sm-10">
                          <input type="date" class="form-control" formControlName="date_in" required>
                        </div>
                    </div> 
                </div>
                <div class="col">
                    <div class="mb-3 row has-validation">
                        <label class="col-sm-6 col-form-label">Tarehe</label>
                        <div class="col-sm-10">
                          <input type="date" class="form-control" formControlName="date_out" required>
                        </div>
                    </div>
                </div>
             </div>
              <button mat-raised-button color="primary" class="mb-2"> Submit</button>
        </form>
    </div>
</div>