<div class="card container mt-3">
    <mat-card class="mt-3 mb-3">
      <mat-card-title style="text-align: center;">Idadi ya Wavuvi Waliosajiliwa</mat-card-title>
    </mat-card>
  
    <div class="input-group mb-3 mt-3 container">
      <input type="text" class="form-control" placeholder="Enter the name" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
    </div>
  
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="container-fluid">
            
            <div class="container-fluid">
              
            <div class="row" style="overflow-x:auto;">
              <!-- <button
            style="float: right; margin-right: 20px;"
            styleSheetFile="../../../assets/css/print.css" 
            printTitle="List of Enrollment" 
            printSectionId="content"
            ngxPrint 
            class="btn btn-success btn-lg"
            > Print Full List</button> -->
              <div class="col-lg-12"  id="content" >
                <table >
                  <caption></caption>
                  <thead>
                    <tr>
                      <th>S/No</th>
                      <th>Jina Kamili</th>
                      <th>Mahali</th>
                      <th>Kadi ya Mzanzibar</th>
                      <th>Njia anayotumia</th>
                      <th>Aina ya uvuvi</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let fishermans of fisherman , let x = index;">
                      <td>{{x + 1}}</td>
                      <td>{{fishermans.user.name}}</td>
                      <td>{{fishermans.user.address}}</td>
                      <td>{{fishermans.user.identity}}</td>
                      <td>{{fishermans.ways}}</td>
                      <td>{{fishermans.type}}</td>
                      <td>
                        <button class="btn btn-primary" (click)="view(fishermans.fishermanId)">Kuanglia</button>
                      </td>
                    </tr>
                  </tbody>
    
    
                </table>
    
     
    
              </div>
            
            
            </div>
          </div>
    
          <!-- <div class="d-flex justify-content-center">
            <pagination-controls 
            [responsive]="true"
            [directionLinks]="true"
            screenReaderCurrentLabel="labels.screenReaderCurrentLabel"
            (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  