<div class="card container mt-3">
    <mat-card class="mt-3 mb-3">
      <mat-card-title>List Of Registed Fisherman</mat-card-title>
    </mat-card>
  
    <div class="input-group mb-3 mt-3 container">
      <input type="text" class="form-control" placeholder="Enter the name" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
    </div>
  
  
    <table mat-table [dataSource]="tableData">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.Name}}</td>
      </ng-container>
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{element.Address}}</td>
      </ng-container>
      <ng-container matColumnDef="Phone_no">
        <th mat-header-cell *matHeaderCellDef>Phone_no</th>
        <td mat-cell *matCellDef="let element">{{element.Phone_no}}</td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <!-- Add your action buttons here -->
          <button class="btn btn-sm btn-primary mx-2" (click)="view()">View</button>
          <button class="btn btn-sm btn-danger" >delete</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="['id', 'Name', 'Address', 'Phone_no', 'Action']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'Name', 'Address', 'Phone_no', 'Action']"></tr>
    </table>
  </div>
  