<!-- app.component.html -->
<mat-card class="card">
    <img mat-card-image src="../../../../assets/images/images.jpeg" alt="Image Alt Text" />
    <mat-card-content>
      <!-- Card content goes here -->
      <h2 style="text-align: end; margin-top:5px;">MAELEZO</h2>
      <br>
      <h2>Usajili wa Mwani Mtandaoni:</h2>
      

      Usajili wa mwani mtandaoni ni mfumo wa kidijitali unaowawezesha wakulima wa mwani kusajili shughuli zao na kupata vibali vinavyohitajika kwa njia ya mtandao. Mwani ni mmea unaostawi katika maeneo ya pwani na hutumiwa kwa matumizi mbalimbali kama chakula, malighafi katika viwanda, na katika bidhaa za urembo. 
      <h2>Hapa kuna maelezo zaidi kuhusu usajili wa mwani mtandaoni:</h2>
      <ol>
        <li><strong>Lengo la Usajili wa Mwani:</strong> Usajili wa mwani mtandaoni unalenga kuhakikisha kwamba shughuli za ukulima wa mwani zinafanyika kwa kufuata kanuni, sheria, na miongozo iliyowekwa na mamlaka husika. Pia, inasaidia katika kudhibiti uvunaji wa mwani ili kuhifadhi na kulinda mazingira ya pwani na kuhakikisha uwiano endelevu katika matumizi ya rasilimali hii.</li>
        <li><strong>Mchakato wa Usajili:</strong> Wamiliki wa mashamba ya mwani wanaweza kufikia mfumo wa usajili mtandaoni kupitia jukwaa maalum lililoundwa na mamlaka ya serikali au taasisi inayosimamia sekta ya mwani. Wanapaswa kujaza fomu za usajili zinazohitajika, kutoa taarifa za kibinafsi, na kutoa maelezo ya shamba lao la mwani, ikiwa ni pamoja na eneo, aina za spishi za mwani zilizopandwa, na zana zinazotumiwa.</li>
        <li><strong>Uthibitisho wa Taarifa:</strong> Mara baada ya kujaza fomu za usajili, taarifa hizo hupitiwa na mamlaka husika. Huenda wakafanya ukaguzi wa eneo la mwani ili kuhakikisha kuwa taarifa zilizotolewa ni sahihi. Baada ya uthibitisho, wamiliki wa mashamba hupewa idhini na vibali vinavyowaruhusu kutekeleza shughuli za ukulima wa mwani.</li>
        <li><strong>Ufuatiliaji wa Shughuli:</strong> Kupitia mfumo wa mtandao, wamiliki wa mashamba ya mwani wanaweza kuripoti shughuli zao za kila siku au kila mwezi, ikiwa ni pamoja na kuvuna mwani, kuhudumia mashamba, na takwimu nyingine muhimu. Hii inasaidia mamlaka kufuatilia kwa karibu shughuli za mwani na kuhakikisha kwamba shughuli zinaendeshwa kwa kufuata miongozo.</li>
        <li><strong>Ushirikiano na Wadau:</strong> Mfumo wa usajili wa mwani mtandaoni unaweza kuwa jukwaa la kuhusisha wadau mbalimbali katika sekta hii, ikiwa ni pamoja na wakulima, watafiti, na mamlaka za serikali. Kupitia majukwaa haya, wadau wanaweza kubadilishana taarifa, uzoefu, na mazoea bora ya kilimo cha mwani.</li>
        <li><strong>Ufanisi na Urahisi:</strong> Usajili wa mwani mtandaoni huleta ufanisi na urahisi kwa wakulima wa mwani, kwani wanaweza kufanya shughuli za usajili na taarifa za uzalishaji kupitia kompyuta au simu za mkononi. Hii inapunguza gharama za kusafiri na inarahisisha upatikanaji wa huduma za serikali.
        </li>
      </ol>
      
      Kwa kumalizia, usajili wa mwani mtandaoni ni mfumo wa kidijitali unaoleta tija katika sekta ya ukulima wa mwani. Unachangia katika usimamizi bora wa shughuli za ukulima wa mwani, kuhifadhi mazingira ya pwani, na kuhakikisha kuwa matumizi ya rasilimali za mwani yanakuwa endelevu.
      <br>
        <br><strong style="color: red;">ZINGATIO:</strong> Ni kiongozi pekee ndie anaehusika kujaza taarifa za mwani.
      <br><button mat-raised-button color="primary" class="mt-2" (click)="openSm(content)">SAJILI</button>
    </mat-card-content>
  </mat-card>

  <ng-template #content let-modal>
    <div class="modal-body">
      <div class="car  container">
        <form [formGroup]="form" >
            <label style="margin-bottom: 5px;">Ingiza Uthibitisho wa Uongozi</label>
            <br>
            <input type="text" class="containter form-control" formControlName="number"/>
            <br>
            <button [disabled]="form.invalid" class="btn btn-primary" (click)="onSubmit()" (click)="modal.dismiss('Cross click')">Ingia</button>
        </form>
    </div>
    </div>
  </ng-template>