
    <mat-dialog-content class="mat-typography">
      <h3>Upload Receipt</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="file" (change)="onImageUpload($event)" class="form-control" name="Receipt">
          </div>
        </div>
        <div class="col-md-3">
          <button class="btn btn-success" (click)="saveReceipt()">Upload</button>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>

    <img [src]="imageSource1" alt="Image Source">

  
  
  
  
  
  
  

  





