<section class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                
                                <p><label>Birthday</label><span>12/10/</span></p>
                            </div>
                            <div class="media">
                                <label>Age</label>
                                <p>22 Yr</p>
                            </div>
                            <div class="media">
                                <label>Residence</label>
                                <p>Canada</p>
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p>California, USA</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p>info@domain.com</p>
                            </div>
                            <div class="media">
                                <label>Phone</label>
                                <p>820-885-3321</p>
                            </div>
                            <div class="media">
                                <label>Skype</label>
                                <p>skype.0404</p>
                            </div>
                            <div class="media">
                                <label>Freelance</label>
                                <p>Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                    <p>yahya Ali hamid</p>
                </div>
            </div>
        </div>
        <div class="counter">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h3>Njia anayotumia</h3>
                        <p class="m-0px font-w-600">Happy Clients</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h3>Diko</h3>
                        <p class="m-0px font-w-600">Project Completed</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h3>Tarehe ya Kuanza</h3>
                        <p class="m-0px font-w-600">Photo Capture</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h3>Terehe ya kuisha</h3>
                        <p class="mb-0">Telephonic Talk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class=" container mt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="container-fluid">
                
                <div class="container-fluid">
                  
                <div class="row" style="overflow-x:auto;">
                  <!-- <button
                style="float: right; margin-right: 20px;"
                styleSheetFile="../../../assets/css/print.css" 
                printTitle="List of Enrollment" 
                printSectionId="content"
                ngxPrint 
                class="btn btn-success btn-lg"
                > Print Full List</button> -->
                  <div class="col-lg-12"  id="content" >
                    <table >
                      <caption></caption>
                      <thead>
                        <tr>
                          <th>S/No</th>
                          <th>Jina la Banki</th>
                          <th>Risiti</th>
                          <th>Tarehe</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          
                        </tr>
                      </tbody>
        
        
                    </table>
        
         
        
                  </div>
                
                
                </div>
              </div>
        
              <!-- <div class="d-flex justify-content-center">
                <pagination-controls 
                [responsive]="true"
                [directionLinks]="true"
                screenReaderCurrentLabel="labels.screenReaderCurrentLabel"
                (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
              </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      
</section>



<div class="container card mt-4 mb-4">
    <div class="row mt-3 mb-3" >
      <div class="col-md-4">
        <div class="card" >
           <!-- <img src="{{x.profilePicture}}" class="card-img-top" alt="Profile Picture"> -->
          <div class="card-body">
             <!-- <h5 class="card-title">{{x.name}}</h5>  -->
            <!-- <p class="card-text">{{x.bio}}</p> -->
          </div>
          <h3 class="mx-2">Muhusika</h3>
          <ul class="list-group list-group-flush">
             <!-- <li class="list-group-item"><strong>Jina Kamili:  </strong> {{x.xname}}</li>
            <li class="list-group-item"><strong>Kazi:  </strong> {{x.work}}</li>
            <li class="list-group-item"><strong>Mahali:  </strong> {{x.address}}</li>
            <li class="list-group-item"><strong>Namba ya Simu:  </strong> {{x.phone}}</li>--
            <li class="list-group-item"><strong>Kitambulisho:  </strong> {{x.identity}}</li> 
             <li class="list-group-item"><strong>Uraia:  </strong> {{x.nationality}}</li>
            <li class="list-group-item"><strong>Jinsia :  </strong> {{x.sex}}</li>
            <li class="list-group-item"><strong>Umri:  </strong> {{x.age}}</li>
            <li class="list-group-item"><strong>Namba ya uongozi:  </strong> {{x.leader}}</li>  -->
             <button mat-raised-button color="acess" class="m-3 mb-2 mt-3 text-Red">Badilisha</button> --
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card ">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                 <h2 class="card-title">Leseni ya Mvuvi</h2>
                <!-- <li class="list-group-item"><strong>Diko analotumia:  </strong> {{x.diko_usage}}</li>
                <li class="list-group-item"><strong>Njia anayotumia:  </strong> {{x.xname}}</li>
                <li class="list-group-item"><strong>Tarehe ya Kuanza leseni:  </strong></li>
                <li class="list-group-item"><strong>Tarehe ya kuisha Leseni:  </strong> </li> 
                 <li class="list-group-item"><strong>Picha ya risiti:  </strong> {{x.location}}</li>
                <li class="list-group-item card"><img src="{{x.profilePicture}}" class="card-img-top" alt="Profile Picture" width="200" height="300s"></li>
                <button mat-raised-button >Onesha picha</button> -- -->
              </ul>
              <button mat-raised-button class="mt-2">Edit</button>
            </div>
          </div>
  
        <div class="card mt-3">
          <div class="card-body">
            <h2 class="card-title">MALIPO</h2>
            <ul class="list-group list-group-flush">
              <!-- !-- <li class="list-group-item"><strong>Jina la Akauni:  </strong> {{x.location}}</li> -->
              <!-- <li class="list-group-item"><strong>Akaunti Namba:  </strong> {{x.phone_no}}</li>
              <li class="list-group-item"><strong>Namba ya Risiti:  </strong> {{x.xname}}</li>
              <li class="list-group-item"><strong>Picha ya Risiti:  </strong> {{x.email}}</li> -->
              <!-- <img src="{{x.profilePicture}}" class="card-img-top" alt="Profile Picture"> -- -->
              <button mat-raised-button color="primary">Picha kwa ukubwa</button>
            </ul>
          </div>
        </div>
  
       
      </div>
  
      
      
      <div>
        <button mat-raised-button color="primary" class="mt-4 " >CONFIRM</button>
      </div>
    </div>
  </div>
  
  
  

 




  