.mbele {
  float:right;
    display:block;
    margin-right:10px;
    clear:left;
    background-color: aqua;
}
.nyuma {
  margin-left: 5px;
}

.hid{
  overflow-y: hidden !important
}
.container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh; /* Optional: Set the height of the container to occupy the full viewport height */
  width:fit-content
}
.img{
  margin-top: 3px;
}

/* app.component.css */
.card {
  max-width: 700px; /* Set the maximum width of the card */
  margin: 0 auto; /* Center the card horizontally */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the card */
}

/* Add responsive styles for different screen sizes */
@media screen and (max-width: 600px) {
  .card {
    max-width: 100%; /* Make the card take the full width on small screens */
    margin: 16px; /* Add some margin on small screens */
  }
}
