<div class="card container mb-2 mt-3">
 



<div class=" card container mt-2 mb-3">
  <div class="m-auto mt-3">
    <!-- <div class="text-center"><img class="img-fluid" src="../../../../assets/images/nembo1.png" width="200" height="70" ></div> -->
  <div class="text-center">
    <h3 class="mb-0">SERIKALI YA MAPINDUZI YA ZANZIBAR</h3>
    <h5 class="mb-0">Sheria ya Uvuvi No 7 ya Mwaka 2010</h5>
    <h5 class="mb-0">(Kanuni kuu za Uvuvi za Mwaka 1993)</h5>
    <h2 class="mb-0">LESENI YA CHOMBO YA UVUVI</h2>
  <H5 class="mb-0">Kanuni 12(1)</H5>
  </div>
  </div>

       <!-- <div class="">
        <button mat-button (click)="tabGroup.selectedIndex=1" class="mbele">Nyengine</button>
       </div> -->

      <!-- </mat-tab> -->

      <form [formGroup]="form1" (ngSubmit)="onSubmit()">
      <!-- <mat-tab label="Taarifa za chombo"> -->
        <div class="container mt-4 mb-4">
          <div class="">
            <h2 style="text-decoration:underline;  text-align: center; margin-bottom: 50px;">JAZA TAARIFA ZA CHOMBO</h2>
            <div class="container">

              <div class="mb-3 row has-validation">
                <label class="col-sm-2 col-form-label">Jina la chombo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="name_vessel" required>
                </div>
              </div>

              <div class="mb-3 row has-validation">
                <label class="col-sm-2 col-form-label">Aina ya chombo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="type_vessel" required>
                </div>
              </div>

              <div class="mb-3 row has-validation">
                <label class="col-sm-2 col-form-label">Namba ya uwandikishaji</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="no_vessel" required>
                </div>
              </div>

              <div class="mb-3 row has-validation">
                <label class="col-sm-2 col-form-label">Urefu wa chombo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="meter" required>
                </div>
              </div>

              <div class="mb-3 row has-validation">
                <label class="col-sm-2 col-form-label">Idadi ya wavuvi</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" formControlName="no_people" required>
                </div>
              </div>

              <div class="mb-3 row has-validation">
                <label class="col-sm-2 col-form-label">Njia ya uwendeshaji</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="ways" required>
                </div>
              </div>
<!-- 
              <div class="mb-3 row has-validation">
                <label class="col-sm-2 col-form-label">Tarehe</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" formControlName="date_in" required>
                </div>
              </div>

              <div class="mb-3 row has-validation">
                <label class="col-sm-2 col-form-label">Tarehe</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" formControlName="date_out" required>
                </div>
              </div> -->

            </div>
          </div>
        </div>
      </form>

        <!-- <div class="">
          <button mat-button  (click)="tabGroup.selectedIndex=1" class="Rudi">Rudi</button>
          <button mat-button  (click)="tabGroup.selectedIndex=3" class="mbele">Nyengine</button>
         </div> -->
      <!-- </mat-tab> -->


      <!-- <mat-tab label="Malipo "> -->
        <form [formGroup]="form1">
          <div class="container mt-4 mb-3">
            <div class=" mt-5">
              <h2 style="text-decoration:underline;  text-align: center; margin-bottom: 50px;">MALIPO HUSIKA</h2>
              <DIV class="container">
  
                <div class="mb-3 row has-validation">
                  <label class="col-sm-2 col-form-label">Jina la Akaunti</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="acc_name" required>
                  </div>
                </div>
  
                <div class="mb-3 row has-validation">
                  <label class="col-sm-2 col-form-label">Nambari ya Akanti</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" formControlName="acc_no" required>
                  </div>
                </div>
  
                <div class="mb-3 row has-validation">
                  <label class="col-sm-2 col-form-label">Nambari ya Risiti</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" formControlName="receipt_no" required>
                  </div>
                </div>
  
                <div class="mb-3 row has-validation">
                  <label class="col-sm-2 col-form-label">Tarehe ulofanyika muamala</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" formControlName="date" required>
                  </div>
                </div>
  
                <!-- <div class="mb-3 row has-validation">
                  <label class="col-sm-2 col-form-label">Weka picha ya Risiti</label>
                  <div class="col-sm-10">
                    <input (change)="displayRisiti($event)" type="file" class="form-control" formControlName="receipt_image" required>
                  </div>
                </div>
  
                <div id="display_image" class="img-fluid" >
                  <img [src]="imageRisiti" >
                </div> -->
  
               <div class="text-center mb-3 mt-3">
                <button class="btn btn-primary" [disabled]="form1.invalid" (click)="onSubmit()"> Wasilisha Taarifa</button>
               </div>
  
              </DIV>
            </div>
          </div>
        </form>

        <!-- <div class="">
          <button mat-button  (click)="tabGroup.selectedIndex=2" class="nyuma">Rudi</button>
         </div> -->
      <!-- </mat-tab> -->

      

    <!-- </mat-tab-group> -->

</div>
</div>
