<section class="section about-section gray-bg container" id="about" >
  <div>
    <div class="container"> 
      <div class="row align-items-center flex-row-reverse">
          <div class="col-lg-6">
              <div class="about-text go-to">
                  <div class="row about-list">
                      <div class="col-md-6">
                          <div class="media">
                              <p><label>Kitambulisho</label><span style="margin-left: 20px;">{{vessel1[0].identity}}</span></p>
                          </div>
                          <div class="media">
                              
                              <p><label>Miaka</label>{{vessel1[0].age}} </p>
                          </div>
                          <div class="media">
                              
                              <p><label>Taifa</label>{{vessel1[0].nationality}}</p>
                          </div>
                          <div class="media">
                              
                              <p><label>Mahali</label>{{vessel1[0].address}}</p>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="media">
                              
                              <p><label>Namba ya Simu</label>{{vessel1[0].phone}}</p>
                          </div>
                          <div class="media">
                              
                              <p><label>Jinsia</label>{{vessel1[0].sex}}</p>
                          </div>
                          <div class="media">
                              
                              <p><label>Kazi</label>{{vessel1[0].work}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-avatar">
                  <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt=""> -->
                  <p>{{vessel1[0].name}}</p>
                  <p>{{vessel1[0].email}}</p>
              </div>
          </div>
      </div>
      <div class="counter">
          <div class="row">
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h3>Jina la Chombo</h3>
                      <p class="m-0px font-w-600">{{vessel1[0].name_vessel}}</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h3>Aina</h3>
                      <p class="m-0px font-w-600">{{vessel1[0]?.type_vessel}}</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="count-data text-center">
                    <h3>Namba ya Chombo</h3>
                    <p class="m-0px font-w-600">{{vessel1[0]?.no_vessel}}</p>
                </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="count-data text-center">
                  <h3>Njia</h3>
                  <p class="m-0px font-w-600">{{vessel1[0]?.ways}}</p>
              </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="count-data text-center">
                <h3>Mita ya Chombo</h3>
                <p class="m-0px font-w-600">{{vessel1[0]?.meter}}</p>
            </div>
        </div>
              <div class="col-6 col-lg-3">
                <div class="count-data text-center">
                    <h3>Idadi ya Watu</h3>
                    <p class="m-0px font-w-600">{{vessel1[0]?.no_people}}</p>
                </div>
            </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h3>Tarehe ya Kuanza</h3>
                      <p class="m-0px font-w-600">{{vessel1[0]?.start_date}}</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h3>Terehe ya kuisha</h3>
                      <p class="mb-0">{{vessel1[0]?.finish_date}}</p>
                  </div>
              </div>
          </div>
          
      </div>
      
  </div> 
  <button
          style="float: right; margin-right: 20px;"
          (click)="openDialog1(chombo)" 
          class="btn btn-success btn-lg"
          > Badilisha</button><br><br>
  </div>


  <div class=" container mt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="container-fluid">
              
              <div class="container-fluid">
                
              <div class="row" style="overflow-x:auto;">
                <!-- <button
              style="float: right; margin-right: 20px;"
              styleSheetFile="../../../assets/css/print.css" 
              printTitle="List of Enrollment" 
              printSectionId="content"
              ngxPrint 
              class="btn btn-success btn-lg"
              > Print Full List</button> -->
                <div class="col-lg-12"  id="content" >
                  <table >
                    <caption></caption>
                    <thead>
                      <tr>
                        <th>S/No</th>
                        <th>Jina la Banki</th>
                        <th>Risiti</th>
                        <th>Tarehe</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let payment of vessel1, let x = index;">
                        <td>{{x + 1}}</td>
                        <td>{{payment.acc_name}}</td>
                        <td>{{payment.receipt_no}}</td>
                        <td>{{payment.date}}</td>
                      </tr>
                    </tbody>
      
      
                  </table>
      
       
      
                </div>
              
              
              </div>
            </div>
      
            <!-- <div class="d-flex justify-content-center">
              <pagination-controls 
              [responsive]="true"
              [directionLinks]="true"
              screenReaderCurrentLabel="labels.screenReaderCurrentLabel"
              (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    
</section>

<ng-template #chombo let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
  <div class="modal-body">
    <div class="mb-2 mt-3">
      <div class=" mt-2 mb-3">
      
            <form (ngSubmit)="onSubmitVessel()">
            <!-- <mat-tab label="Taarifa za chombo"> -->
              <div class=" mt-2 mb-2">
                <div class="">
                  <h2 style="text-decoration:underline;  text-align: center; margin-bottom: 50px;">JAZA TAARIFA ZA CHOMBO</h2>
                  <div class="">
      
                    <div class="mb-3 row has-validation">
                      <label class="col-sm-6 col-form-label">Jina la chombo</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="vessel1.name_vessel" name="name_vessel" required>
                      </div>
                    </div>
      
                    <div class="mb-3 row has-validation">
                      <label class="col-sm-6 col-form-label">Aina ya chombo</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="vessel1.type_vessel" name="type_vessel" required>
                      </div>
                    </div>
      
                    <div class="mb-3 row has-validation">
                      <label class="col-sm-6 col-form-label">Namba ya uwandikishaji</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="vessel1.no_vessel" name="no_vessel" required>
                      </div>
                    </div>
      
                    <div class="mb-3 row has-validation">
                      <label class="col-sm-6 col-form-label">Urefu wa chombo</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="vessel1.meter" name="meter" required>
                      </div>
                    </div>
      
                    <div class="mb-3 row has-validation">
                      <label class="col-sm-6 col-form-label">Idadi ya wavuvi</label>
                      <div class="col-sm-12">
                        <input type="number" class="form-control" [(ngModel)]="vessel1.no_people" name="no_people" required>
                      </div>
                    </div>
      
                    <div class="mb-3 row has-validation">
                      <label class="col-sm-6 col-form-label">Njia ya uwendeshaji</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" [(ngModel)]="vessel1.ways" name="ways" required>
                      </div>
                    </div>
      
                  </div>
                </div>
            
        
                     <div class="text-center mb-3 mt-3">
                      <button class="btn btn-primary"> Wasilisha Taarifa</button>
                     </div>
        
                  </div>
                
              </form>
            </div>
      
      </div>
      </div>
  
</ng-template>