
<div class="card container mt-3 mb-4">
  <h2 class="card mt-3 container">
    <thead>TAARIFA BINAFSI</thead>
  </h2>
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-4 mb-4">
      <div></div>
      <P> Jina Kamili : </P>
    </div>
    <div class="col">

      <P> Mahali : </P>
      <P> Namba ya Simu : </P>
      <P> Kitambulisho : </P>
      <P> Uraia : </P>
      <P> Jinsia : </P>
      <P> Umri : </P>
    </div>
  </div>

  <div>
    <h2 class="card mt-3 container">
      <thead>CHOMBO CHA UVUVI</thead>
    </h2>
    <P> Jina La Chombo : </P>
    <P> Aina ya Chombo : </P>
    <P> Nambari ya Uwandikishaji : </P>
    <P> Urefu wa chombo : </P>
    <P> Idadi ya Wavuvi kaika chombo : </P>
    <P> Njia ya Uwendeshaji : </P>
    <P>Tarehe : </P>
  </div>

  <div>
    <h2 class="card mt-3 container">
      <thead>MALIPO</thead>
    </h2>
    <P> Jina la Akaunti : </P>
    <P> Nambari ya Akaunti : </P>
    <P>Tarehe : </P>
    <P> Picha ya risiti : </P>
  </div>

  <button mat-raised-button color="primary" class="mb-3 mt-5 btn-sm-2 w-25 text-center">Thibitisha</button>
</div>
