<div class="card">
  <div class="container">
    <div class="image">
      <img src="../../../../assets/images/images.jpeg" width="40" height="40">
    </div>
    <div class="text-center mx-2">
      <h4 class="mb-0">The Revolutionary Government of Zanzibar</h4>
      <h5>Fisherman`s Licence</h5>
    </div>
  </div>

  <div class="container1">
    <div class="image">
      <img src="../../../../assets/images/images.jpeg" width="120" height="100">
    </div>
    <div class="mx-2">
      <div class="row mb-0">
        <p class="mb-0">Name</p>
      <h5>Yahya Ali Hamid</h5>
      </div>

      <div class="row mb-0">
        <div class="col">
          <p class="mb-0">Sex</p>
          <h5>Male</h5>
        </div>
        <div class="col">
          <p class="mb-0" style="font-size:small">Date of Birth</p>
          <h5>1/1/2023</h5>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="col">
            <p class="mb-0" style="font-size:small">Issued</p>
            <h5>1/1/2023</h5>
          </div>
        </div>
        <div class="col">
          <div class="col">
            <p class="mb-0" style="font-size:small">Expiry</p>
            <h5>1/1/2023</h5>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<button mat-raised-button color="primary" (click)="print()">Generate licence</button>
