.card{
  width:8.5cm;
  margin: auto;
  margin-top: 20px;
  height: 5.5cm;
  // background: url(../../../../assets/images/maboti.jpg);
}
.container{
  display: flex;
  align-items:center ;
  justify-content: center;
  // margin-bottom: 5px;
  width: 340px;
  margin-left: -3%;
}
.image{
  margin-left: 0%;
}
.date{
  margin-left:-10%;
}
p{
  // font-size:large;
  font-weight: 100px;
  font-size: 11px;
  color: blue;
}
.container1{
  display: flex;
  margin-left: 5%;
}
p{
  display: block;
  width: auto;
}
mat-card {
  max-width: 500px;
  margin: auto;
}

mat-grid-tile {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 16px;
  margin-right: 16px;
}

