.card{
  width:max-content;
  margin: auto;
  margin-top: 20px;
}
.container{
  display: flex;
  align-items:center ;
  justify-content: center;
}
.p{
  font-size:large;
  font-weight: 12px;
  font-size: 12px;
}
.container1{
  display: flex;
  margin-left: 5%;
}
p{
  display: block;
  width: auto;
}
