<section class="section about-section gray-bg container" id="about" >
  <div>
    <div class="container"> 
      <div class="row align-items-center flex-row-reverse">
          <div class="col-lg-6">
              <div class="about-text go-to">
                  <div class="row about-list">
                      <div class="col-md-6">
                          <div class="media">
                              <p><label>Kitambulisho</label><span style="margin-left: 20px;">{{fisherman1?.user.identity}}</span></p>
                          </div>
                          <div class="media">
                              
                              <p><label>Miaka</label>{{fisherman1?.user.age}} </p>
                          </div>
                          <div class="media">
                              
                              <p><label>Taifa</label>{{fisherman1?.user.nationality}}</p>
                          </div>
                          <div class="media">
                              
                              <p><label>Mahali</label>{{fisherman1?.user.address}}</p>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="media">
                              
                              <p><label>Namba ya Simu</label>{{fisherman1?.user.phone}}</p>
                          </div>
                          <div class="media">
                              
                              <p><label>Jinsia</label>{{fisherman1?.user.sex}}</p>
                          </div>
                          <div class="media">
                              
                              <p><label>Kazi</label>{{fisherman1?.user.work}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-avatar">
                  <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt=""> -->
                  <p>{{fisherman1?.user.name}}</p>
                  <p>{{fisherman1?.user.email}}</p>
              </div>
          </div>
      </div>
      <div class="counter">
          <div class="row">
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h3>Njia unayotumia</h3>
                      <p class="m-0px font-w-600">{{fisherman1?.ways}}</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h3>Diko unalotumia</h3>
                      <p class="m-0px font-w-600">{{fisherman1?.diko_usage}}</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h3>Tarehe ya Kuanza</h3>
                      <p class="m-0px font-w-600">{{fisherman1?.start_date}}</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h3>Terehe ya kuisha</h3>
                      <p class="mb-0">{{fisherman1?.finish_date}}</p>
                  </div>
              </div>
          </div>
          
      </div>
      
  </div> 
  <button
          style="float: right; margin-right: 20px;"
          styleSheetFile="../../../assets/css/print.css" 
          printTitle="List of Enrollment" 
          printSectionId="content"
          ngxPrint 
          class="btn btn-success btn-lg"
          > Badilisha</button><br><br>
  </div>


  <div class=" container mt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="container-fluid">
              
              <div class="container-fluid">
                
              <div class="row" style="overflow-x:auto;">
                <!-- <button
              style="float: right; margin-right: 20px;"
              styleSheetFile="../../../assets/css/print.css" 
              printTitle="List of Enrollment" 
              printSectionId="content"
              ngxPrint 
              class="btn btn-success btn-lg"
              > Print Full List</button> -->
                <div class="col-lg-12"  id="content" >
                  <table >
                    <caption></caption>
                    <thead>
                      <tr>
                        <th>S/No</th>
                        <th>Jina la Banki</th>
                        <th>Risiti</th>
                        <th>Tarehe</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let payment of fisherman2, let x = index;">
                        <td>{{x + 1}}</td>
                        <td>{{payment.acc_name}}</td>
                        <td>{{payment.receipt_no}}</td>
                        <td>{{payment.date}}</td>
                      </tr>
                    </tbody>
      
      
                  </table>
      
       
      
                </div>
              
              
              </div>
            </div>
      
            <!-- <div class="d-flex justify-content-center">
              <pagination-controls 
              [responsive]="true"
              [directionLinks]="true"
              screenReaderCurrentLabel="labels.screenReaderCurrentLabel"
              (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    
</section>