 <div class="centered-container">
    <div class="card">
      <div class="card-body">
        <mat-card class="container">
          <div style="text-align: center; margin-bottom: 10px; margin-top:10px">
            <h2 class="mb-0">MFUMO WA UVUVI ZANZIBAR</h2>
            <h4 class="mb-0">KUINGIA</h4>
          </div>
      
          <mat-card-content class="container  mt-3">
            <form [formGroup]="form">
              <div class="row container">
                <div class="example-container">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Jina kamili</mat-label>
                    <input matInput formControlName="name" required>
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="example-container">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Neno la siri</mat-label>
                    <input matInput placeholder="Neno la siri" type="password" formControlName="pass" required>
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
            </form>
            <button type="button" mat-raised-button color="primary"  
              (click)="Login()"
              [disabled]="form.invalid"
              class="mb-3"
            >Ingia Ndani</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  