.mbele {
  float:right;
    display:block;
    margin-right:10px;
    clear:left;
    background-color: aqua;
    margin-top: 20px;
    margin-bottom: 30px;
    margin: 5px;

}
.nyuma {
  margin-left: 5px;
}

.hid{
  overflow-y: hidden !important
}
