<!-- <div class="card">
  <div class="m-auto">
    <div class="text-center"><img class="img-fluid" src="../../../../assets/images/nembo1.png" width="200" height="70" ></div>
  <div class="text-center">
    <h3 class="mb-0">SERIKALI YA MAPINDUZI YA ZANZIBAR</h3>
    <h5 class="mb-0">Sheria ya Uvuvi No 7 ya Mwaka 2010</h5>
    <h5 class="mb-0">(Kanuni kuu za Uvuvi za Mwaka 1993)</h5>
    <h2 class="mb-0">LESENI YA CHOMBO YA UVUVI</h2>
  <H5 class="mb-0">Kanuni 12(1)</H5>
  </div>
  </div>
</div> -->


<!-- TABS -->

<div class="mt-2">
  <mat-tab-group class="hid mb-3">
    <form [formGroup]="form1" (ngSubmit)="onSubmit()">
    <mat-tab label="Leseni ya Uvuvi">
      <div class="container mt-4 mb-4">
       <div class="card">

        <div class="m-auto mt-3">
          <!-- <div class="text-center"><img class="img-fluid" src="../../../../assets/images/nembo1.png" width="200" height="70" ></div> -->
        <div class="text-center">
          <h3 class="mb-0">SERIKALI YA MAPINDUZI YA ZANZIBAR</h3>
          <h5 class="mb-0">Sheria ya Uvuvi No 7 ya Mwaka 2010</h5>
          <h5 class="mb-0">(Kanuni kuu za Uvuvi za Mwaka 1993)</h5>
          <h2 class="mb-0">LESENI YA CHOMBO YA UVUVI</h2>
        <H5 class="mb-0">Kanuni 12(1)</H5>
        </div>
        </div>

        <h2 style="text-decoration:underline;  text-align: center; margin-bottom: 50px; margin-top: 60px;">JAZA TAARIFA HUSIKA</h2>
        <div class="container">

          <!-- <div class="text-center mb-5">
            <div id="display_image" >
              <img [src]="imageSrc" width="150">
            </div>

            <div class="mb-3 row has-validation">
              <div class="mt-3">
                <label for="inputFile" style="margin-right:15px">Weka picha yako</label>
                <label for="inputFile"  >Badilisha picha yako</label>
                <input hidden (change)="displayImage($event)" type="file" id="inputFile" formControlName="image">
              </div>
            </div>
          </div> -->

          <div class="mb-3 row has-validation">
            <label class="col-sm-2 col-form-label">Diko unalotumia</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="diko_usage" required>
            </div>
          </div>

          <div class="mb-3 row has-validation">
            <label class="col-sm-2 col-form-label"> Njia ya Uwendeshaji</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  formControlName="ways" required>
            </div>
          </div>
          <div class="mb-3 row has-validation">
            <label class="col-sm-2 col-form-label"> Aina ya Uvuvi</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  formControlName="type" required>
            </div>
          </div>
          <div class="mb-3 row has-validation">
            <label class="col-sm-2 col-form-label"> Urefu wa chombo unachoendesha</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  formControlName="meter" required>
            </div>
          </div>
          
<!-- 
          <div class="mb-3 row has-validation">
            <label class="col-sm-2 col-form-label">Tarehe ya kuanzia</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" formControlName="date_in"
                name="date" placeholder="name" required>
            </div>
          </div>

          <div class="mb-3 row has-validation">
            <label class="col-sm-2 col-form-label">Tarehe ya Kuishia</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" formControlName="date_out" required>
            </div>
          </div> -->
       </div>
       <button mat-button  (click)="tabGroup.selectedIndex=2" class="mbele w-25">Nyengine</button>
      </div>
      </div>

       </mat-tab>





    <mat-tab label="Malipo ">
      <div class="container mt-4 mb-3">
        <div class="card mt-5">
          <h2 style="text-decoration:underline;  text-align: center; margin-bottom: 50px;">MALIPO HUSIKA</h2>
          <DIV class="container">

            <div class="mb-3 row has-validation">
              <label class="col-sm-2 col-form-label">Jina la Akaunti</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="acc" required>
              </div>
            </div>

            <div class="mb-3 row has-validation">
              <label class="col-sm-2 col-form-label">Nambari ya Risiti</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" formControlName="no_risiti" required>
              </div>
            </div>

            <div class="mb-3 row has-validation">
              <label class="col-sm-2 col-form-label">Tarehe ulofanyika muamala</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" formControlName="date" required>
              </div>
            </div>

            <!-- <div class="mb-3 row has-validation">
              <label class="col-sm-2 col-form-label">Weka picha ya Risiti</label>
              <div class="col-sm-10">
                <input (change)="displayRisiti($event)" type="file" class="form-control" formControlName="risiti" required>
              </div>
            </div>

            <div id="display_image" class="img-fluid" >
              <img [src]="imageRisiti" >
            </div> -->

           <div class="text-center mb-3 mt-3">
            <button class="btn btn-primary" [disabled]="form1.invalid"> Wasilisha Taarifa</button>
           </div>

          </DIV>
        </div>
      </div>

      <!-- <div class="">
        <button mat-button  (click)="tabGroup.selectedIndex=0" class="nyuma">Rudi</button>
       </div> -->
    </mat-tab>

    </form>

  </mat-tab-group>

</div>
