.form-group {
    margin-bottom: 15px;
    position: relative;
    }
.form-control {
        background: #eeeeee none repeat scroll 0 0;
        border: 0 none;
        border-radius: 3px;
        box-shadow: none;
        color: #888888;
        font-size: 15px;
        height: 46px;
        line-height: 30px;
    padding: 0 15px;
    }
      .card-header {
        color: #111111;
        font-size: 40px;
         font-weight: 200;
         text-align: center;
    }
    