.table-container {
    max-width: 100%;
  }
  
  .table {
    width: 100%;
  }
  
  .table th,
  .table td {
    padding: 8px;
  }
  
  .table th {
    background-color: #f0f0f0;
    text-align: left;
  }
  .button{
    text-align: right;
  }