
<br>
<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col col-lg-6">
    <div class="container mt-4 mb-4">
        <div class="card">
         
              <h2 style="text-decoration:underline;  text-align: center; margin-bottom: 50px; margin-top: 50px;">JAZA TAARIFA ZAKO KIKAMILIFU</h2>
        
              <!-- <div class="container row">
                <div class="col-md-12">
                    <div *ngIf=message>{{message}}</div>
                </div>
            </div> -->

              <form [formGroup]="form1" (ngSubmit)="onSubmit()">
            <div class="container">
                <div class="text-center mb-5">
                  <div id="display_image" >
                    <img [src]="imageSrc" width="150">
                  </div>
      
                  <div class="mb-3 row has-validation">
                    <div class="mt-3">
                      <label for="inputFile" style="margin-right:15px">Weka picha yako</label>
                      <label for="inputFile"  >Badilisha picha yako</label>
                      <input hidden (change)="displayImage($event)" type="file" id="inputFile">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="example-container">
                      <mat-form-field appearance="outline" class="w-100 mb-2 ">
                        <mat-label>Jina Lako kamili</mat-label>
                        <input matInput type="text" formControlName="name" required>
                        <mat-error *ngIf="form1.get('name')?.hasError('required')">Ingiza Jina kamili</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
     
                <div class="row">
                  <div class="col">
                    <div class="example-container">
                      <mat-form-field appearance="fill" class="w-100 ">
                        <mat-label>Anuani</mat-label>
                        <input matInput type="email" formControlName="email" placeholder="anuani sahihi" required>
                        <mat-error *ngIf="form1.get('sex')?.hasError('required')">Ingiza anuani</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col">
                    <div class="example-container">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Mahali unapoishi</mat-label>
                        <input matInput type="text" formControlName="address" required>
                        <mat-error *ngIf="form1.get('address')?.hasError('required')">Mahali unapoishi</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="example-container">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Kazi Yako</mat-label>
                        <mat-select type="text" formControlName ="work">
                          <mat-option value="Mjasiliamali">Mjasiliamali</mat-option>
                          <mat-option value="Muajiriwa wa Serikali">Muajiriwa wa Serikali</mat-option>
                          <mat-option value="Muajiriwa Binafsi">Muajiriwa Binafsi</mat-option>
                          <mat-option value="Umejiajiri">Umejiajiri</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form1.get('work')?.hasError('required')">Chagua Kazi yako</mat-error>

                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col">
                    <div class="example-container">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Nambari ya Simu</mat-label>
                        <input matInput type="text" formControlName="phone" placeholder="zitimie Kumi" required>
                        <mat-error *ngIf="form1.get('phone')?.hasError('required')">Ingiza Namba yako ya simu</mat-error>
                        <mat-error *ngIf="form1.get('phone')?.hasError('minLength')"></mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="example-container">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Uraia</mat-label>
                        <mat-select type="text" formControlName ="nationality">
                          <mat-option value="Mtanzania">Mtanzania</mat-option>
                          <mat-option value="Nchi Nyengine">nchi Nyengine</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form1.get('nationality')?.hasError('required')">Chagua Taifa Lako</mat-error>

                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col">
                    <div class="example-container">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Kitambulisho cha Mzanzibar</mat-label>
                        <input matInput type="text" formControlName="identity" placeholder="zitimie kumi" required>
                        <mat-error *ngIf="form1.get('identity')?.hasError('required')">Ingiza Kitambulisho cha Mzanzibar</mat-error>
                        <mat-error *ngIf="form1.get('identity')?.hasError('minLength')"></mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="example-container">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Jinsia</mat-label>
                        <mat-select type="text" formControlName ="sex">
                          <mat-option value="Mwanaume">Mwanaume</mat-option>
                          <mat-option value="Mwanamke">Mwanamke</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form1.get('sex')?.hasError('required')">Chagua jinsia</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col">
                    <div class="example-container">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Miaka</mat-label>
                        <input matInput type="number" formControlName="age" required>
                        <mat-error *ngIf="form1.get('age')?.hasError('required')">Ingiza Miaka yako</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
     
                <div class="example-container">
                  <mat-form-field appearance="outline" class="w-100 mt-2">
                    <mat-label>Neno la Siri</mat-label>
                    <input matInput type="password" formControlName="pass" required>
                    <mat-error *ngIf="form1.get('pass')?.hasError('required')">Ingiza Neno la siri</mat-error>
                  </mat-form-field>
                </div>

               <input type="hidden" value="USER" formControlName="roles">
               <input type="hidden" vlaue="leader" formControlName="leader">
     
            
         </div>
        </form>
        <button mat-raised-button color="primary" type="submit" class="container mb-3 w-25" [disabled]="form1.invalid" (click)="Submit()">Jisajili</button>
       </div>
       </div>
    
            <br />
            <br />
        </div>
    </div>


