table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    
  }
  
  th, td {
    text-align: left;
    vertical-align: middle;
    padding: 8px;
  }
  th{
    padding: 16px;
    border-bottom: 3px solid #ddd;
    border-top: 3px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
  
  button{
    padding-inline: 8px;
    margin: 4px;
  }

  .card {
    max-width: 700px; /* Set the maximum width of the card */
    margin: 0 auto; /* Center the card horizontally */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the card */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Add responsive styles for different screen sizes */
  @media screen and (max-width: 1100px) {
    .card {
      max-width: 100%; /* Make the card take the full width on small screens */
      margin: 16px; /* Add some margin on small screens */
    }
  }