<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Leseni ya Udereva</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <p><strong>Jina:</strong> John Doe</p>
        <p><strong>Tarehe ya Kuzaliwa:</strong> 1 Januari 1990</p>
        <p><strong>Tarehe ya Kufunga Leseni:</strong> 1 Januari 2020</p>
        <p><strong>Tarehe ya Kufikia Mwisho:</strong> 1 Januari 2030</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p><strong>Namba ya Leseni:</strong> 1234567890</p>
        <p><strong>Aina ya Leseni:</strong> B</p>
        <p><strong>Mkoa:</strong> Dar es Salaam</p>
        <p><strong>Nchi:</strong> Tanzania</p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card> -->
<div class="mt-3" >
    <div class="row" id="card">
      <div class="col">
        <div class="card " >
          <div class="wrapper">
            <div class="container">
              <div class="image">
                <img src="../../../../assets/images/nembo1.png" width="50" height="35">
              </div>
              <div class="text-center">
                <strong class="mb-0" style="font-size: 10px;">The Revolutionary Government of Zanzibar</strong>
                <p style="font-size:12px; color: black;">Fisherman`s License</p>
              </div>
              <div>
                <img src="../../../../assets/images/nembo1.png" width="50" height="35" />
              </div>
            </div>
      
            <div class="container1">
              <div class="image">
                <img src="../../../../assets/images/images.jpeg" width="75" height="100">
              </div>
              <div class="mx-2">
                <div class="row mb-0">
                  <h6 class="mb-0">Full Name</h6>
                <p class="mb-0 mt-0">Yahya Ali Hamid</p>
                </div>
          
                <div class="row mb-0">
                  <div class="col">
                    <h6 class="mb-0">Sex</h6>
                    <p class="mb-0">Male</p>
                  </div>
                  <div class="col date">
                    <h6 class="mb-0">Date of Birth</h6>
                    <p class="mb-0">1/1/2023</p>
                  </div>
                    <div class="col">
                      <h6 class="mb-0">Diko</h6>
                      <p class="mb-0">1/1/2023</p>
                    </div>
                </div>
          
                <div class="row">
                    <div class="col">
                      <h6 class="mb-0" >Issued </h6>
                      <p class="mb-0">1/1/2023</p>
                    </div>
                    <div class="col">
                      <h6 class="mb-0" >Expiry </h6>
                      <p class="mb-1" style="color: red;">1/1/2023</p>
                    </div>
                    <div class="col mx-2">
                      <h6 class="mb-0 " >Way</h6>
                      <p class="mb-1">1/1/2023</p>
                    </div>
                </div>
              </div>
            </div>
            <p class="mx-1" style="color: black;">PIN: <span style="color: blue;">6102525285</span></p>
          </div>
        </div>
      </div>
  
      <!-- <div class="col">
        <div class="card">
          <div class="mx-3">
            <p style="font-size: 10px;
            text-align: center;
            margin-top: 10px;
            color: black;">This Fisherman`s License is the property of<br> <strong style="font-size: 14px;">The Revolutionary Government of Zanzibar</strong><br>
            if found, please return to the nearest<br> Police Station or </p>
        </div>
      </div>
    </div> -->
  
    
    <!-- <button mat-raised-button
     color="primary"
       (click)="print()" 
      class="mt-5 mb-5 mx-3"
      printTitle="MyTitle" 
      printSectionId="print-section" 
      ngxPrint 
    >PRINT</button> -->
  </div>
  <div class="row">
    <button mat-raised-button color="primary"  
    styleSheetFile="../../../assets/css/print.css" 
        printSectionId="card"
        ngxPrint 
        >PRINT</button>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  