<div class="container card mt-4 mb-4">
    <div class="row mt-3 mb-3">
      <div class="col-md-3">
        <div class="card">
          <!-- <img src="{{user.image}}" class="card-img-top" alt="Profile Picture"> -->
          <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <!-- <p class="card-text">{{user.bio}}</p> -->
          </div>
        </div>
        </div>
    
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <!-- <h2 class="card-title">MALIPO</h2> -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Username:  </strong> <span style="margin-left: 20px;">{{user.username}}</span></li>
              <li class="list-group-item"><strong>Work:  </strong> {{user.work}}</li>
              <li class="list-group-item"><strong>Location:  </strong> {{user.address}}</li>
              <li class="list-group-item"><strong>Phone No:  </strong> {{user.phone}}</li>
              <li class="list-group-item"><strong>Identity:  </strong> {{user.identity}}</li>
              <li class="list-group-item"><strong>CitizenShip:  </strong> {{user.nationality}}</li>
              <li class="list-group-item"><strong>Sex:  </strong> {{user.sex}}</li>
              <li class="list-group-item"><strong>Age:  </strong> {{user.age}}</li>
              <li class="list-group-item"><strong>Number of Leader:  </strong> {{user.leader}}</li>
            </ul>
            <div class="row">
              <div class="col">
                <button mat-raised-button (click)="openBackDropCustomClass(user)">Edit</button>
              </div>
              <div class="col">
                <button mat-raised-button (click)="openDialog1()" color="primary">Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div>
        <button mat-raised-button color="primary" class="mt-4 btn-lg" [routerLink]="['../user']">Rudi</button>
      </div>
    </div>
  </div>

  <ng-template #tempa let-modal >
    <div class="card m-3">
      <div class="container">
          <form [formGroup]="form" >
              <div class="mb-3 row has-validation">
                  <label class="col-sm-6 col-form-label">No of Leader</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" formControlName="leader"[(ngModel)]="user.leader" required>
                  </div>
                </div>
               <button mat-raised-button color="primary" class="mb-2"
                (click)="save()" 
                [disabled]="form.invalid"
                (click)="modal.close('Close click')"
                > Submit</button>
          </form>
      </div>
  </div>
  </ng-template>
  