
<!-- app.component.html -->
<mat-card class="card">
    <mat-card-content>
    <div class="container mt-5">
      <input type="text" class="form-control mb-3" placeholder="Ingiza Jina la Kijiji" [(ngModel)]="searchText" />
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S/Namba</th>
            <th>Kijiji</th>
            <th>Wilaya</th>
            <th>Mkoa</th>
            <th>Hatua</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredLocation; let x = index">
            <td>{{ x + 1 }}</td>
            <td>{{ user.village }}</td>
            <td>{{ user.district }}</td>
            <td>{{ user.region }}</td>
            <td>
              <button class="btn btn-info" (click)="view(user.locationid)" (click)="openDialog1(chombo)">Jaza</button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <pagination-controls
        (pageChange)="page = $event"
        [maxSize]="1"
        [directionLinks]="true"
        [autoHide]="true"
        [responsive]="true"
        [previousLabel]="'Previous'"
        [nextLabel]="'Next'"
      ></pagination-controls>
    </div>
    
  </mat-card-content>
</mat-card>

  <!-- Leseni ya Chombo cha Uvuvi -->
  <ng-template #chombo let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
     </div>
    <div class="modal-body">
      <div class="mb-2 mt-3">




        <div class="">
          <div class="containe">
                <div class="row ">
                    <div class="col ">
                <div class="containe">
                    <div class="car">
            
                    
                     
                          <h2 style="text-decoration:underline;  text-align: center;">TAARIFA ZA MWANI</h2>
                    
                          <!-- <div class="container row">
                            <div class="col-md-12">
                                <div *ngIf=message>{{message}}</div>
                            </div>
                        </div> -->
            
                          <form [formGroup]="form">
                        <div class="containe">
                            <!-- <div class="text-center mb-5">
                              <div id="display_image" >
                                <img [src]="imageSrc" width="150">
                              </div>
                  
                              <div class="mb-3 row has-validation">
                                <div class="mt-3">
                                  <label for="inputFile" style="margin-right:15px">Weka picha yako</label>
                                  <label for="inputFile"  >Badilisha picha yako</label>
                                  <input hidden (change)="displayImage($event)" type="file" id="inputFile" formControlName="image">
                                </div>
                              </div>
                            </div> -->
                 
                            <div class="row">
                              <div class="col">
                                <div class="example-container">
                                  <mat-form-field appearance="fill" class="w-100 ">
                                    <mat-label>Idadi ya Wakulima Jumla</mat-label>
                                    <input matInput type="number" formControlName="no_farm" required>
                                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="col">
                                <div class="example-container">
                                  <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Heka</mat-label>
                                    <input matInput type="number" formControlName="hector" required>
                                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
            
                           <h3 style="text-align: center; margin-top: 20px;">Idadi ya Wakulima</h3>
            
                            <div class="row">
                              <div class="col">
                                <div class="example-container">
                                  <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Wanaume</mat-label>
                                    <input matInput type="number" formControlName="no_men" required>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="col">
                                <div class="example-container">
                                  <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Wanawake</mat-label>
                                    <input matInput type="number" formControlName="no_women" required>
                                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                             <h3 style="text-align: center; margin-top: 20px;">Uzalishaji kwa Tani</h3>
                            <div class="row">
                              <div class="col">
                                <div class="example-container">
                                  <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Aina ya Mwani</mat-label>
                                    <mat-select type="text" formControlName="type" required>
                                      <mat-option value="E.spinosum">E.spinosum</mat-option>
                                      <mat-option value="E.cottonii">E.cottonii</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="col">
                                <div class="example-container">
                                  <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Tani</mat-label>
                                    <input matInput type="number" formControlName="tones" required>
                                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                 
                            <div class="example-container">
                              <mat-form-field appearance="outline" class="w-100 mt-2">
                                <mat-label>tarehe</mat-label>
                                <input matInput type="date" formControlName="date" required>
                                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                              </mat-form-field>
                            </div>
                 
                        
                     </div>
                    </form>
                    <button mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid" class="containe w-25" >Jisajili</button>
                   </div>
                   </div>
                
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
        


















          
                        
          
  </ng-template>

<br>






