<mat-sidenav-container class="sidenav-container fixed-top">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="../../../../assets/images/nembo1.png" alt="Random first slide" />
      <span>ZFP</span>
    </mat-toolbar> -->

<div class="sticky-top bg-light">
    <nav class="navbar bg-body-tertiary-alert sticky-top">
      <div class="container-fluid bg-light">
        <a class="navbar-brand">

         <div class="text-center">
          <img class="img-fluid" src="../../../../assets/images/nembo1.png" width="200" height="70">
         </div>
        </a>
        <span class="font">MFUMO WA UVUVI ZANZIBAR</span>

        <mat-menu #appMenu="matMenu">
          <ng-template matMenuContent let-name="name">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Log off {{name}}</button>
          </ng-template>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Bob'}">
          <mat-icon>more_vert</mat-icon>
        </button>

      </div>
    </nav>

    <div class="wizara-font">
      <marquee><span>WIZARA YA KILIMO UMWAGILIAJI MALIASILI NA MIFUGO</span></marquee>
    </div>

    <nav class="nav mt-3 nav-brand bg-info nav-pills flex-column flex-lg-row sticky">
      <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Dashboard</a>
      <a class="flex-sm-fill text-sm-center nav-link me-2"
          placement="bottom"
          ngbPopover="Mvuvi yoyote ni lazima atambulikane kutokana na sheria inavyosema na ataweza kufuata sheria zote ambazo zimewekwa."
          triggers="mouseenter:mouseleave"
          popoverTitle="Pop title" routerLink="/tabs_vessel">Mvuvi</a>

      <a class="flex-sm-fill text-sm-center nav-link"
          placement="bottom"
          ngbPopover="Chombo chochote cha uvuvi ambacho kinajishulisha na mambo ya bahari ni lazima kisajiliwe ili kuondosha matatizo yatakayotokea na sheria itachkua mkono wake. "
          triggers="mouseenter:mouseleave"
          popoverTitle="SHERIA YA MTUMIAJI/WATUMIAJI" routerLink="/tabs_vessel">Chombo cha Uvuvi</a>

      <a class="flex-sm-fill text-sm-center nav-link"
        placement="bottom"
        ngbPopover="You see, I show up on hover!"
        triggers="mouseenter:mouseleave"
        popoverTitle="Pop title"href="#">Mwani</a>

      <a class="flex-sm-fill text-sm-center nav-link"
        placement="bottom"
        ngbPopover="You see, I show up on hover!"
        triggers="mouseenter:mouseleave"
        popoverTitle="Pop title"href="#">Mawasiliano</a>

      <a class="flex-sm-fill text-sm-center nav-link"
          placement="bottom"
          ngbPopover="You see, I show up on hover!"
          triggers="mouseenter:mouseleave"
          popoverTitle="Pop title" href="#">Kuhusu Sisi</a>
    </nav>
    </div>







     <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav> -->



    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>

  <!-- <img src="../../../../assets/images/nembo1.png" /> -->
</mat-sidenav-container>
