
<mat-sidenav-container class="sidenav-container fixed-top ">
  <mat-sidenav-content>

    <div class="sticky bg-light mb-0">
      <nav class="nav nav-brand nav-pills flex-lg-row sticky" >
        <span class="flex-sm-fill text-sm text-black nav-link ">{{currentDate | date}}</span>
        <span class="example-spacer"></span>
        <button mat-button class="example-icon" aria-label="Example icon-buton with menu">
          <!-- <header *ngIf="check_login">{{username}}</header> -->
          <mat-menu #appMenu="matMenu">
            <ng-template matMenuContent let-name="name">
              <button mat-menu-item routerLink="/profile">Taarifa Zako</button>
              <button mat-menu-item (click)="openDialog()">Kuingia</button>
            </ng-template>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Bob'}">
            <mat-icon>more_vert</mat-icon>
          </button>
        </button>
      </nav>
      <hr class="mb-1">
      <div>
        <div>
          <div class="text-center">
             <img class="img-fluid" src="../../../../assets/images/nembo1.png" width="100" height="50">
            <!-- <h2 class="mb-0">MFUMO WA UVUVI ZANZIBAR</h2> -->
            <H3>WIZARA YA KILIMO UMWAGILIAJI MALIASILI NA MIFUGO</H3>
          </div>
        </div>
      </div>
    </div>


      <div class="wizara-font">

      </div>

      <!-- NAVIGATION -->

      <div class="wrapper sticky-top">
        <nav>
         <input type="checkbox" id="show-menu">
          <button mat-button (click)="openScroll(content)" for="show-menu" class="menu-icon" aria-label="Example icon-buton with menu">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="content">
            <div class="logo"><a href="">Mfumo wa Uvuvi Zanzibar</a></div>
            <ul class="links">
              <li><a (click)="close()" routerLink="/tabs_fisher" routerLinkActive="active">Mvuvi</a></li>
              <li><a routerLink="/tabs_vessel" routerLinkActive="active">Chombo cha Mvuvi</a></li>
              <li><a routerLink="/seaweed" routerLinkActive="active">mwani</a></li>
              <li><a routerLink="/" routerLinkActive="active">Sheria</a></li>
              <li><a routerLink="/contact" routerLinkActive="active">Mawasiliano</a></li>
              <li><a routerLink="" >Taarifa</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- NAVIGATION -->

      <nav class="nav container  mt-1 nav-brand bg-info nav-pills flex-column flex-lg-row sticky">

       
      </nav>






    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  

  </mat-sidenav-content>

  <!-- <img src="../../../../assets/images/nembo1.png" /> -->
</mat-sidenav-container>

<!-- OffCascav -->
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="mx-3">Menu</h4>
    <button type="button" class="btn-close" aria-label="close" (click)="offcanvas.close('cross click')"></button>
  </div>
  <div class="content">
    <div class="logo"><a href="">Mfumo wa Uvuvi Zanzibar</a></div>
    <ul class="links">
      <li><a routerLink="/tabs_fisher">Mvuvi</a></li>
      <li><a routerLink="/tabs_vessel">Chombo cha Mvuvi</a></li>
      <li><a routerLink="/seaweed">mwani</a></li>
      <li><a routerLink="/">Sheria</a></li>
      <li><a routerLink="/contact">Mawasiliano</a></li>
      <li><a routerLink="">Taarifa</a></li>
    </ul>
  </div>
</ng-template>

        <ng-template #tempa let-modal >
          <div class="modal-header container">
            <h2>KUINGIA</h2>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <mat-card-header >
           <span> 
            <!-- <img src="../../../../assets/images/logo.jpg" alt="" width="100" height="60" style="margin-right: 10%;"> -->
            <mat-card-title style="text-align: center; margin-bottom: 10px; margin-top:10px">MFUMO WA UVUVI ZANZIBAR</mat-card-title></span>
          </mat-card-header>
          <mat-card-content class="container mx-2 mt-3">
            <form [formGroup]="form">
              <div class="row container">
                <div class="example-container">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Jina kamili</mat-label>
                    <input matInput placeholder="Jina Kamili" formControlName="name" required>
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="example-container">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Neno la siri</mat-label>
                    <input matInput placeholder="Neno la siri" type="password" formControlName="pass" required>
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
            </form>
            <button type="button" mat-raised-button color="primary" 
              (click)="modal.close('Close click')" 
              (click)="Login()"
              [disabled]="form.invalid"
            >Ingia Ndani</button>
          </mat-card-content>
          <div class="modal-footer">
            <div class="footer">
              <nav>
                <div class="text-center">
                  <div class="row">
                    <!-- <div class="col-sm-12 col-md-6 col-lg-6">
                      <a class="mb-0" (click)="modal.close('Close click')">Umesahau Namba ya Siri</a>
                    </div> -->
                    <div class="col">
                      <a (click)="view()" (click)="modal.close('Close click')">Huna Akaunti? Jisajili Hapa</a>
                    </div>
                    <!-- <div class="text-center maneno">
                      <a (click)="administrator()" class="mb-0" (click)="modal.close('Close click')">kwa Msimamizi</a>
                    </div> -->
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </ng-template>




