
.maneno{
  text-decoration: none;
  margin-top: 4%;
  margin-bottom: 200px;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 20%;
}
.example-spacer {
  flex: 1 1 auto;
}
.picha{
  width: 10px;
}
.font{
  font-size: 25px;
  text-align: center;
  font-style:bold;
}
.wizara-font{
  font-size: 23px;
  font-family: 'Courier New', Courier, monospace;

}
.example-spacer{
  flex: 1 1 auto;
}

// Navigation
.wrapper{
  background-color: rgb(0, 187, 255);
  //position: fixed;
  width: 100%;
}
.wrapper .menu-icon{
  color: white;
  // font-size: 18px;
   height: 70px;
   width: 70px;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper nav{
  display: flex;
  max-width:  calc(100% - 200px);
  margin: 0 auto;
  height: 50px;
  justify-content: space-between;

}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
  list-style-type: none;
  margin-top:20px;
}
.content .logo a{
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
.content .links li a{
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li:hover a{
  background-color: rgb(65, 53, 53);
}

.content .links li a{
  color: white;
  text-decoration: none;
}
nav #show-menu {
  display: none;
}

// memu device
@media screen and (max-width : 1250px) {
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  nav .content .links{
    margin-left: 30px;
  }
}
@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
    margin-top: -10px;
  }
// nav #show-menu:checked ~ .content .links{
//     left: 0%;
//     color: white;
//   }

  nav .content .links{
    display:block;
    position: fixed;
    background-color : rgb(0, 187, 255);
    height: 60%;
    width: 40%;
    top: 209px;
    left: -100%;
    margin-left: -10%;
    max-width: 250px;

  }
  .content .links li {
    margin: 7px 1px;
    list-style-type: none;
    margin-left: -5%;
  }
  .content .links li a{
    line-height:30px;
    font-size: 16px;
    display: block;
    padding: 5px;
  }

}

// Footer
.footer{
  // background-color: rgb(0, 187, 255);
  //position: fixed;
  width: 100%;
}
.footer nav{
  margin: auto;
  height: 40px;

}
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
