<div class="card container mt-3">
  <div class="table table-striped">
    <mat-card class="mbt-2 mb-3">
      <mat-card-title>List Of Fisherman</mat-card-title>
    </mat-card>

    <div class="mb-3 row">
      <label for="table-filtering-search" class="col-xs-5 col-lg-auto col-form-label">Enter the Name:</label>
      <div class="col-xs-5 col-lg-auto">
        <input id="table-filtering-search" class="form-control" type="text"/>
      </div>
    </div>
    <thead>
      <tr>
        <th scope="col">No.ID</th>
        <th scope="col">Name</th>
        <th scope="col">Payment</th>
        <th scope="col">Date</th>
        <th scope="col">Aciton</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>g</td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div>
            <button class="btn btn-primary btn-sm m-1">View</button>
            <button class="btn btn-danger btn-sm m-1">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </div>
</div>
