<div class="card m-3">
    <div class="container">
        <form action="">
            <div class="mb-3 row has-validation">
                <label class="col-sm-6 col-form-label">Diko unalotumia</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="diko" required>
                </div>
              </div>
    
              <div class="mb-3 row has-validation">
                <label class="col-sm-6 col-form-label"> Njia ya Uwendeshaji</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  formControlName="way" required>
                </div>
              </div>
    
              <div class="mb-3 row has-validation">
                <label class="col-sm-6 col-form-label">Tarehe ya kuanzia</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" formControlName="date_in"
                    name="date" placeholder="name" required>
                </div>
              </div>
    
              <div class="mb-3 row has-validation">
                <label class="col-sm-6 col-form-label">Tarehe ya Kuishia</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" formControlName="date_out" required>
                </div>
              </div>
             <button mat-raised-button color="primary" class="mb-2"> Submit</button>
        </form>
    </div>
</div>