<!-- app.component.html -->
<mat-card class="card">
    <div class="text-center">
        <img class="img-fluid" src="../../../../assets/images/nembo1.png" width="250" height="60">
     </div>
         <mat-card-content>
      <!-- Card content goes here -->
      <br>
      <div class="row">
          <div class="text-center">
            <h3 class="mb-0">SERIKALI YA MAPINDUZI YA ZANZIBAR</h3>
            <h5 class="mb-0">Sheria ya Uvuvi No 7 ya Mwaka 2010</h5>
            <h5 class="mb-0">(Kanuni kuu za Uvuvi za Mwaka 1993)</h5>
            <h2 class="mb-0">LESENI YA CHOMBO YA UVUVI</h2>
          <H5 class="mb-0">Kanuni 12(1)</H5>
          </div>
      
          <div class="mt-3">
            <h2 style="text-decoration:underline;">MTUMIAJI/WATUMIAJI</h2>
            <ol>
              <li>Leseni inayoombwa mda wote inatakiwa iwepo katika chombo husika.</li>
              <li>Nambari ya uwandikishaji lazima iandikwe pembeni ya chombo zenye ukubwa usiopungua sentimita 5.</li>
              <li>Akihaulisha chombo atoe taarifa kwa Afisa Uvuvi wilaya.</li>
              <li>Kutoa taarifa za uzalishaji wa Samaki katika dikon husika.</li>
              <li>Asihaulishe mazao ya baharini kwenye chombo chengine.</li>
              <li>kutovua kwa ajili ya chombo chengine bila ya kibali.</li>
              <li>Hatatumia Uvuvi wa Mtando ndani ya maeneo ya hifadhi.</li>
              <li>Ni marufuku mtu mwenye Leseni ndogo kuitumia kwenye leseni kubwa ya uvuvi.</li>
              <li>Ni marufuku Leseni ya Dau kuitumia kwa chombo chengine.</li>
              <li>Mtu wowote ataekiuka Masharti Atatozwa Faini ya shilingi Milioni tano (5,000,000) au Kifungo kisichopungua miaka miwili au vyote kwa pamoja.</li>
              <li>Nahodha ndo mwenye jukumu la wavuvi wote katika chombo husika.</li>
            </ol>
           </div>
          
      </div>
    </mat-card-content>
  </mat-card>