<div class="card container">
    <div class="container">
      <form [formGroup]="form" class="container">   
        <h2 class="mt-2">TAARIFA</h2>
        <div class="row">
            <textarea class="form-control" formControlName="message" cols="50" rows="5" placeholder="Andika Taarifa"></textarea>
        </div>
        <div class="row">
            <button mat-raised-button color="primary"
            (click)="submit()"
            (click)="close()"
            class="mb-3 mt-3">Fikisha</button>
        </div>
    </form>
    </div>
</div>