
<div class="container">
      <div class="row justify-content-sm-center">
          <div class="col col-sm-6">
      <div class="container mt-2 mb-3 m-auto">
          <div class="card container">
           
                <h2 style="text-decoration:underline;  text-align: center; margin-bottom: 50px; margin-top: 50px;">TAARIFA ZA MWANI</h2>
          
                <!-- <div class="container row">
                  <div class="col-md-12">
                      <div *ngIf=message>{{message}}</div>
                  </div>
              </div> -->
  
                <form [formGroup]="algaeForm"> 
                  
                  
                    <mat-form-field class="example-part-width" style="width: 34%;" appearance="fill">
                      <mat-label>Mkoa</mat-label>
                      <input matInput formControlName="region" [matAutocomplete]="regionAuto">
                      <mat-autocomplete #regionAuto="matAutocomplete">
                        <mat-option *ngFor="let regions of filteredRegions | async" [value]="regions">{{ regions }}</mat-option>
                      </mat-autocomplete>
                      <mat-error>
                        <span *ngIf="algaeForm.get('region')?.hasError('required')"> Tafadhali ingiza mkoa wako.</span>
                      </mat-error>
                    </mat-form-field>
              
                    <mat-form-field class="example-part-width" style="width: 32%;" appearance="fill">
                      <mat-label>Wilaya</mat-label>
                      <input matInput formControlName="district" [matAutocomplete]="districtAuto">
                      <mat-autocomplete #districtAuto="matAutocomplete">
                        <mat-option *ngFor="let district of filteredDistricts | async" [value]="district">{{ district }}</mat-option>
                      </mat-autocomplete>
                      <mat-error>
                        <span *ngIf="algaeForm.get('district')?.hasError('required')"> Tafadhali ingiza wilaya yako.</span>
                      </mat-error>
                    </mat-form-field>
              
                    <mat-form-field class="example-part-width" style="width: 32%;"  appearance="fill">
                      <mat-label>Kijiji</mat-label>
                      <input matInput formControlName="ward"  [matAutocomplete]="wardAuto">
                      <mat-autocomplete #wardAuto="matAutocomplete">
                        <mat-option *ngFor="let ward of filteredWards | async" [value]="ward">{{ ward }}</mat-option>
                      </mat-autocomplete>
                      <mat-error>
                        <span *ngIf="algaeForm.get('ward')?.hasError('required')"> Tafadhali ingiza shehia yako.</span>
                      </mat-error>
                    </mat-form-field>
                    
                  <div class="row">
                    <div class="col">
                      <div class="example-container">
                        <mat-form-field appearance="fill" class="w-100 ">
                          <mat-label>Idadi ya Wakulima Jumla</mat-label>
                          <input matInput type="number" formControlName="no_farm" name="no_farm" required>
                        </mat-form-field>
                      </div>
                    </div>
                    
                  </div>
  
                 <h3 style="text-align: center; margin-top: 20px;">Idadi ya Wakulima</h3>
  
                  <div class="row">
                    <div class="col">
                      <div class="example-container">
                        <mat-form-field appearance="fill" class="w-100">
                          <mat-label>Wanaume</mat-label>
                          <input matInput type="number" formControlName="no_men"  name="no_men" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col">
                      <div class="example-container">
                        <mat-form-field appearance="fill" class="w-100">
                          <mat-label>Wanawake</mat-label>
                          <input matInput type="number" formControlName="no_women" name="no_women" required>
                          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  
                   <h3 style="text-align: center; margin-top: 20px;">Uzalishaji kwa Tani</h3>
                   <div class="row">
                    <div class="col-md-4">
                      <mat-card class="example-container">
                        <mat-form-field appearance="fill" class="w-100">
                          <mat-label>Aina ya Mwani</mat-label>
                          <mat-select type="text" formControlName="type" name="type" required>
                            <mat-option value="E.spinosum">E.spinosum</mat-option>
                            <mat-option value="E.cottonii">E.cottonii</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </mat-card>
                    </div>
                    
                    <div class="col-md-4">
                      <mat-card class="example-container">
                        <mat-form-field appearance="fill" class="w-100">
                          <mat-label>Tani</mat-label>
                          <input matInput type="number" formControlName="tones"  name="tones" required>
                        </mat-form-field>
                      </mat-card>
                    </div>
                    
                    <div class="col-md-4">
                      <mat-card class="example-container">
                        <mat-form-field appearance="fill" class="w-100">
                          <mat-label>Heka</mat-label>
                          <input matInput type="number" formControlName="hector" name="hector" required>
                        </mat-form-field>
                      </mat-card>
                    </div>
                  </div>
                  
       
                  <div class="example-container">
                    <input type="date" class="form-control" id="date" formControlName="date"  name="date" required>
                  </div>
                  
       
                  <button mat-raised-button color="primary" (click)="submit()"  class="container mb-3 w-25" >wasilisha</button>
                </form>
         </div>
         </div>
      </div>
      
              <br />
              <br />
      </div>
  </div>