<div class="col-md-10 container mx-5 mt-5">
       <div class="row justify-content-center">
        <div class="col-md-3 ">
                <div class="card bg-light">
                    <div class="card-statistic-1 p-2" style="text-align: center;">
                        <div class="mb-2">
                            <H2 class="card-title mb-0">WALOJISAJILI</H2>
                        </div>
                        <div class="align-items-center mb-0" style="text-align: center;">
                                <h2 class="align-items-center">
                                    {{user1}}
                                </h2>
                        </div>
                    </div>
                </div>
        </div>
       </div>
       <div class="row justify-content-center">
        <div class="col-md-3 ">
                <div class="card bg-light">
                    <div class="card-statistic-1 p-2" style="text-align: center;">
                        <div class="mb-2">
                            <H2 class="card-title mb-0">WAVUVI</H2>
                        </div>
                        <div class="align-items-center mb-0" style="text-align: center;">
                                <h2 class="align-items-center">
                                    {{fisherman1}}
                                </h2>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-3 ">
            <div class="card bg-light">
                <div class=" p-2" style="text-align: center;">
                    <div class="mb-2">
                        <H2 class="card-title mb-0">CHOMBO CHA UVUVI</H2>
                    </div>
                    <div class="align-items-center mb-0" style="text-align: center;">
                            <h2 class="align-items-center">
                                {{vessel1}}
                            </h2>
                    </div>
                </div>
            </div>
        </div>
       </div>
       <div class="row justify-content-center">
        <div class="col-md-3 ">
                <div class="card bg-light">
                    <div class="card-statistic-1 p-2" style="text-align: center;">
                        <div class="mb-2">
                            <H2 class="card-title mb-0">MALIPO YA WAVUVI</H2>
                        </div>
                        <div class="align-items-center mb-0" style="text-align: center;">
                                <h2 class="align-items-center">
                                    {{paymentfisherman1}}
                                </h2>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-3 ">
            <div class="card bg-light">
                <div class=" p-2" style="text-align: center;">
                    <div class="mb-2">
                        <H2 class="card-title mb-0">MALIPO YA CHOMBO </H2>
                    </div>
                    <div class="align-items-center mb-0" style="text-align: center;">
                            <h2 class="align-items-center">
                                {{paymentVessel1}}
                            </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card bg-light">
                <div class=" p-2" style="text-align: center;">
                    <div class="mb-2">
                        <H2 class="card-title mb-0">MWANI </H2>
                    </div>
                    <div class="align-items-center mb-0" style="text-align: center;">
                            <h2 class="align-items-center">
                                {{algae1}}
                            </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card bg-light">
                <div class=" p-2" style="text-align: center;">
                    <div class="mb-2">
                        <H2 class="card-title mb-0">UJUMMBE </H2>
                    </div>
                    <div class="align-items-center mb-0" style="text-align: center;">
                            <h2 class="align-items-center">
                                {{message1}}
                            </h2>
                    </div>
                </div>
            </div>
        </div>
       </div>
</div>