table {
    border-collapse: collapse;
    /* border-spacing: 0; */
    width: 100%;
    /* border: 1px solid #ddd; */
    
  }
  
  th, td {
    margin-left: 10%;
    vertical-align: middle;
    padding: 8px;
    margin:10%;
  }
  th{
    font-size: large;
    /* // padding: 16px; */
    border-bottom: 2px solid #ddd;
    border-top: 3px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
  
  button{
    padding-inline: 8px;
    margin: 4px;
  }
  td{
    margin-left: -10%;
    font-size: 17px;
  }