
<mat-card class="container bg-black  mt-2 mr-1  flex-column">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img" >

        <img src="../../../../assets/images/balozi.jpeg" class="images" />
      </div>
      <!-- <div class="carousel-caption">
        <h2>sgtloop</h2>
      </div> -->
      <div class="carousel">
        <p style="margin-left: 2%;">
          Alisema uchuni wa Zanzibar unategemea zaidi sekta ya Utalii na Uvuvi na kumueleza Balozi wa Morocco
          kuna kila sababu ya kubadilishana uzoefu wa masuala yanayohusiana na utali na Uvuvi.
        </p>
       </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../assets/images/blue.jpg" alt="Random second slide" class="images" />
      </div>
      <div class="carousel-caption">
      </div>
      <div class="carousel">
        <p style="margin-left: 2%;">Sekta ya Uvuvi ni muhimu kwa maendeleo ya Zanzibar. Hata hivyo, sekta hii bado haijawanufaisha wazanzibar wengi,
          Kupitia dhana nzuri ya Uchumi wa Bluu. Serikali itafanya jitihada za dhati za kuendeleza uvuvi wa Bahari Kuu.
        </p>
       </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../assets/images/maboti.jpg" alt="Random third slide" class="images" />
      </div>
      <div class="carousel-caption">
      </div>
      <div class="carousel">
        <p style="margin-left: 2%;">Rais wa Zanzibar na MWenyekiti wa baraza la Mapinduzi, Mhe.Dkt.Hussein Ali Mwinyi
          akimkabidhi Boti ya Uvuvi kwa ajili ya uvuvi wa samaki. </p>
       </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../assets/images/seaweed.jpg" alt="Random third slide" class="images" />
      </div>
      <div class="carousel-caption">
      </div>
      <div class="carousel">
        <p style="margin-left: 2%;">Kutengeneza bidhaa kumeta matumaini mapya na tunawafundisha hasa watoto wetu,
          tunaona faraja kabisa kwa kilimo hichi cha Mwani hata kama kina changamoto ya Hali ya hewa
        inayotukabili. </p>
       </div>
    </ng-template>
  </ngb-carousel>

</mat-card>

<!-- TAARIFA -->

<!-- <div class="mx-4 mt-5 mb-5" >
  <h2 class="mb-1" style="text-decoration: underline;">Muhimu</h2>
<div class="note">
  <div>
    <img src="../../../../assets/images/images.jpeg" width="7" height="100">
  </div>
  
</div>
</div> -->

<!-- Sheria -->
<div class="row mt-4">
  <div class="col col-sm-12 col-md-12 col-lg-7">
    <hr>
    <div class="text-center">
      <h3 class="mb-0">SERIKALI YA MAPINDUZI YA ZANZIBAR</h3>
      <h5 class="mb-0">Sheria ya Uvuvi No 7 ya Mwaka 2010</h5>
      <h5 class="mb-0">(Kanuni kuu za Uvuvi za Mwaka 1993)</h5>
      <h2 class="mb-0">LESENI YA CHOMBO YA UVUVI</h2>
    <H5 class="mb-0">Kanuni 12(1)</H5>
    </div>

    <div class="mt-3">
      <h2 style="text-decoration:underline;">MTUMIAJI/WATUMIAJI</h2>
      <ol>
        <li>Leseni inayoombwa mda wote inatakiwa iwepo katika chombo husika.</li>
        <li>Nambari ya uwandikishaji lazima iandikwe pembeni ya chombo zenye ukubwa usiopungua sentimita 5.</li>
        <li>Akihaulisha chombo atoe taarifa kwa Afisa Uvuvi wilaya.</li>
        <li>Kutoa taarifa za uzalishaji wa Samaki katika dikon husika.</li>
        <li>Asihaulishe mazao ya baharini kwenye chombo chengine.</li>
        <li>kutovua kwa ajili ya chombo chengine bila ya kibali.</li>
        <li>Hatatumia Uvuvi wa Mtando ndani ya maeneo ya hifadhi.</li>
        <li>Ni marufuku mtu mwenye Leseni ndogo kuitumia kwenye leseni kubwa ya uvuvi.</li>
        <li>Ni marufuku Leseni ya Dau kuitumia kwa chombo chengine.</li>
        <li>Mtu wowote ataekiuka Masharti Atatozwa Faini ya shilingi Milioni tano (5,000,000) au Kifungo kisichopungua miaka miwili au vyote kwa pamoja.</li>
        <li>Nahodha ndo mwenye jukumu la wavuvi wote katika chombo husika.</li>
      </ol>
     </div>
  </div>
  <div class="col mt-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Taarifa Muhimu</mat-card-title>
        <hr>
      </mat-card-header>
      <ul *ngFor="let messages of message">
        <li>{{messages.message}}</li>
      </ul>
     
      <mat-card-content>
      </mat-card-content>
    </mat-card>
    
  </div>
  
</div>



<!-- card -->
<div class="row container-fluid  mt-5 mx-2 " style="margin-top: 50%;">
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <mat-card class="example-card">
      <img src="../../../../assets/images/images (3).jpeg"/>
      <mat-card-content>
        <h3 class="mb-0">Chombo cha Uvuvi</h3>
        <p>Chombo chochote kinashughulika na shughuli za maliasili za baharini kinatakiwa kisajiliwa. </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class=" m bg-info" routerLink="/tabs_vessel">MAELEZO</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <mat-card class="example-card">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-subtitle>name</mat-card-subtitle>
  </mat-card-header> -->
  <img src="../../../../assets/images/images (2).jpeg"/>
  <mat-card-content>
   <h3 class="mb-0">MVUVI</h3>
   <P>  Mtu yoyote ambae aliyetimiza miaka 18 ambae anashulika shughuli za maliasili ya baharini anatakiwa kuwa na leseni itakayo muezesha kua Mvuvi halali ambae anatambuliwa na serikali.</P>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="m  bg-info" routerLink="/tabs_fisher">MAELEZO</button>
  </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <mat-card class="example-card">
      <img src="../../../../assets/images/images.jpeg"/>
      <mat-card-content>
        <h3 class="mb-0">Mwani</h3>
        <p>Mwani ni Zao la baharini. Wakulima wa Mwani wanatakiwa kujawa Taarifa zao kuhusiana na Mwani. Hivyo Inapendeza taarifa zao kuziweka katika mfumo.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="m bg-info" routerLink="/seaweed_info">MAELEZO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<div class="card container mt-3">
  <mat-card class="mt-3 mb-3 text-center">
    <mat-card-title>UZALISHAJI WA MWANI ZANZIBAR </mat-card-title>
  </mat-card>
  

<div class="row">
</div>
  <div class=""  id="table_seaweed" >
   <!-- app.component.html -->
<mat-table [dataSource]="algae" class="mat-elevation-z8">
  <ng-container matColumnDef="S/No">
    <mat-header-cell *matHeaderCellDef>S/No</mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ward">
    <mat-header-cell *matHeaderCellDef>Kijiji</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.ward }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="no_farm">
    <mat-header-cell *matHeaderCellDef>Wakulima</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.no_farm }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="no_men">
    <mat-header-cell *matHeaderCellDef>Wanaume</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.no_men }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="no_women">
    <mat-header-cell *matHeaderCellDef>Wanawake</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.no_women }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>Aina ya Mwani</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.type }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="tones">
    <mat-header-cell *matHeaderCellDef>Tani</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.tones }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Tarehe</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.date }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  </div>
</div>



<!-- MAWASILIANO -->
      <div class="flex-column flex-lg-row tertiary-alert back">
        <div class="row text-white">
          <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
            <thead>
              <th>MAWASILIANO</th>
            </thead>
            <div>
              <ul>
                <li>S.L.P.:  159 ZANZIBAR</li>
                <LI>SIMU: +255 24 2230987</LI>
                <li>NUKUSHI: +255 24 2234656</li>
              </ul>
            </div>
          </div>
          <!-- <div class="col-sm-2">
            <textarea name="" id="" cols="30" rows="10">y</textarea>
            <button mat-raised-button>Tuma</button>
          </div> -->
          </div>
      </div>





        






